* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

canvas {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}